.formControl.error input,
.formControl.error textarea
{
    border: solid red 4px;
}

.formControl.error span
{
    color: brown;
}
.formSummaryError {
    border: darkviolet 1px solid;
    padding: 5px;
    color: blue;
}