.header{
    grid-area: h;
    background-color: aqua;
    height: 80px;
}

.header img{
    width: 70px;
    padding-left: 25px;
    padding-top: 10px;
}

.loginBlock {
    float: right;
    padding-top: 15px;
    padding-right: 35px;
}

.loginBlock a {

    color: blue;
}